or/static/css/style.css */
body {
    background: linear-gradient(45deg, #f3f3f3, #d8e2dc);
}

.card {
    border: none;
    border-radius: 15px;
}

footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}